*{
    max-width: 1300px;
   
   
}
main{
   margin: 50px 10px;
}

/*heder style*/

.navber{
    display: flex;
    margin:50px;
    gap: 50px;
}
.peragrph{
    color: white;
}
.Expoler{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.img-titel{
    font-weight:700;
}
.menu-ber ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 25px;
    font-weight: 400;
    
}
.img-logo{
    height: 100px;
    width: 100px;
    color: orange;
}
/*bannar container style*/
.bannar-container{
    background-image: url(./pngtree-a-bridge-over-river-with-trees-on-the-right-side-image_15934194.jpg);
    border-radius: 10px;
   
     
}
.suscribein{
    color: white;
    background-color: orange;
    width: 95%;
    border-radius: 5px;
}
.bannar-container{
    text-align: center;
    width: 800px;
    position: relative;
    right: -170px;
    padding: 50px;
}
.button-infomation{
    display: flex;
    background-color: rgba(240, 248, 255, 0.379);
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    justify-content: center;
    
}
#find{
    background-color: orange;
}
button{
    cursor: pointer;
    padding: 10px;
    
}
/*popular-tours style*/
.popular-tours{
    display: flex;
}
.Read-More{
    background-color: orange;
    color: white;
    border-radius: 5px;
}
.populer-img{
    height: 300px;
    width: 280px;
    margin-top: 10px;
    border-radius: 10px;
}
.popular-discriptio{
    width:200px;
}
.popular-discription{
    width:50%;
    margin-left: 155px;
    padding: 10px;
    
}
/*choose Your Destination Style*/
.choose-Your-Destination{
    text-align: center;
}
.fast-line-img{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.all-img-one,.all-img-tow{
    height: 300px;
    width: 450px;
    border-radius: 10px;
}
.secend-line-img{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
.all-img-three,.all-img-five{
    height: 300px;
    width: 297px;
    border-radius: 10px;
}
.all-img-fore{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.theerd-line-img{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    
}
.all-img-six{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
.all-img-saven{
    height: 300px;
    width:500px;
    border-radius: 10px;
}


/*Wy Choose Us Style*/
.why-choose-us-container{
    text-align: center;
    
}
.hotle-inform{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.Hondpicked-Hotel{
    background-color:wheat;
    width: 30%;
    padding:10px;
    border-radius: 10px;
    text-align: start;
}
.World-Class-Service{
    background-color:cyan;
    width: 30%;
    padding:10px;
    border-radius: 10px;
    text-align: start;
}
.hotle-informin{
    position: relative;
    right: -425px;
}
.hotle-inform-scend{
    background-color:wheat;
    width: 30%;
    padding:10px;
    border-radius: 10px;
    text-align: start;
    margin-top: 10px;
}


/*news section style*/
.News-later-section{
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
    gap: 10px;
}
.login-bar{
    width: 30%;
    margin-left: 30px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
}
.later{
    border-bottom: 2px solid rgba(0, 0, 0, 0.439);
}
 input{
    background-color: wheat;
    border: none;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
 }
.suscribe{
    width: 95%;
    border-radius: 5px;
 }
.login-img{
    border-radius: 10px;
    height: 200px;
}
/*footer section style*/
.footer-section{
    text-align: center;
    background-color: beige;
    padding: 10px;
}
.icon-img{
    height: 30px;
    width: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.39);
}
/*smoll divice and Mobile divaice*/
@media screen and (max-width:576px) {
    .navber,.hotle-inform{
        flex-direction: column;
    }
    .bannar-container{    
        position: relative;
        left: -15px;
        width: 220px;
    
}
.menu-ber .menu-list{
    display:block;
}
.popular-tours{
    flex-direction: column;
}
.popular-discription{
    width:100%;
    margin-left: 5px;
    padding: 2px;
    
}
.button-infomation{
    flex-direction: column;
    gap: 5px;
}
.Expoler{
    font-size: 25px;
}
.populer-img{
    width: 295px;
}
.fast-line-img,.secend-line-img,.theerd-line-img{
    flex-direction: column;
}
.all-img-one,.all-img-tow,.all-img-six,.all-img-saven{
    width:297px;
}
.Hondpicked-Hotel,.World-Class-Service{
    width: 280px;

}
.hotle-informin{
    position:relative;
    right: -1px;  
}
.hotle-inform-scend{
    width: 280px; 
}
.News-later-section{
    flex-direction: column;
    margin-left: -25px;
   
}
.login-bar{
    width: 270px; 
}
.login-img{
    width: 290px;
    margin-left: 16px;
}
}
/*midiyam divaice and tablet divaice*/
@media screen and (min-width:577px) and (max-width:1200px) {
    
    
}
  